.pagination{margin:0 auto;width: 100%;text-align: center;}
ul.tsc_pagination { margin:4px 0; padding:0px; height:100%; overflow:hidden; font:12px 'Tahoma'; list-style-type:none; }
ul.tsc_pagination li { display: inline-block; margin:0px; padding:0px; margin-left:5px; }

ul.tsc_pagination li a { color:black; display:block; text-decoration:none; padding:7px 10px 7px 10px; }


ul.tsc_paginationA li a { color:#FFFFFF; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }

ul.tsc_paginationA01 li a { color:#474747; border:solid 1px #B6B6B6; padding:6px 9px 6px 9px; background:#E6E6E6; background:-moz-linear-gradient(top, #FFFFFF 1px, #F3F3F3 1px, #E6E6E6); background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #FFFFFF), color-stop(0.02, #F3F3F3), color-stop(1, #E6E6E6)); }
ul.tsc_paginationA01 li:hover a,
ul.tsc_paginationA01 li.current a { background:#FFFFFF; }

/* column short css */
.sorting {
    background: rgba(0, 0, 0, 0) url("../images/sort_both.png") no-repeat scroll right;
	padding-right : 18px;
	float: right;
    height: 25px;
}
.sorting_asc {
    background: rgba(0, 0, 0, 0) url("../images/sort_asc.png") no-repeat scroll right;
	padding-right : 18px;
	float: right;
    height: 25px;
}
.sorting_desc {
    background: rgba(0, 0, 0, 0) url("../images/sort_desc.png") no-repeat scroll right;
	padding-right : 18px;
	float: right;
    height: 25px;
}


#s{
 border-radius: 7px !important;
    padding: 7px;
    width: 105% !important;
}
/*.sorting {
   background-image: url("./images/sort_both.png");
	
}*/